/* ============================================================

  Layout Structure

============================================================ */

.site-content, .footer-content {
  max-width: $grid-total;
  @include clearfix();
  margin: 0 auto;
  padding: $vspacing;
  
  h2 {
    font-size: 2.2em;
    margin-bottom: $vspacing;
    line-height: 1em;
  }
}

@media only screen and (min-width: $break-tiny) {

}
@media only screen and (min-width: $break-mini) {

}
@media only screen and (min-width: $break-small) {

}
@media only screen and (min-width: $break-medium) {
	
  body.page:not(.home) {
    .site-header {
      height: 154px;
      position: absolute;
      top: 0;
      width: 100%;
    }
    
    &:before {
      content: '';
      display: block;
      height: 154px;
      background: url(img/hero_sm.jpg) no-repeat center center;
      background-size: cover;
      border-top: 10px solid $colour-red;
    }
  }
	
  .site-content, .footer-content {
    padding: $vspacing 0 0 0;
  }
}
@media only screen and (min-width: $break-large) {

}
@media only screen and (min-width: $break-huge) {

}